{{ define "main" }}

{{ .Content }}

{{/* Intro summary section */}}



{{ if .Site.Params.homeIntro }}

<div class="intro">
    {{ if .Site.Params.homeIntroTitle }}
    <h1>{{ .Site.Params.homeIntroTitle }}</h1>
    {{ end }}

    {{ if .Site.Params.homeIntroContent }}
    <p>{{ .Site.Params.homeIntroContent }}</p>
    {{ end }}
</div>

{{ end }}

{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}

{{/* Posts list section */}}


<h1>Posts</h1>

{{ $filteredPages := slice }}

{{ range site.RegularPages }}
{{ if in .File.Path "posts" }}
{{ $filteredPages = $filteredPages | append . }}
{{ end }}
{{ end }}

{{- $paginator := .Paginate $filteredPages }}

{{- range $index, $page := $paginator.Pages }}
{{ partial "post-entry.html" $page}}
{{end}}

{{- if gt $paginator.TotalPages 1 }}
<div class="pagination">

    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
        prev
    </a>
    {{ end }}

    {{- $paginator.PageNumber }}/{{ $paginator.TotalPages }}

    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">
        next
    </a>
    {{ end }}

</div>
{{ end }}

{{ end }}