{{ define "main" }}
    {{ .Content }}

    {{ with .Site.GetPage "about.md" }}
    <div class="about">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </div>
    {{ end }}

    <h1>Posts</h1>
    {{ range site.RegularPages }}
        {{ if in .File.Path "posts" }}
            <div class="post">
                <p class="post-date">{{ .Date.Format "2 Jan 2006" }} </p>
                <p class="post-title"> <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong></p>
            </div>
        {{ end }}
    {{ end }}

{{ end }}
