{{ define "main" }}
{{ .Content }}

{{/* Intro summary section */}}

{{if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent}}
<div class="about">
    {{ if .Site.Params.homeIntroTitle }}
    <h2>{{ .Site.Params.homeIntroTitle }}</h2>
    {{ end }}

    {{ if .Site.Params.homeIntroContent }}
    <p>{{ .Site.Params.homeIntroContent }}</p>
    {{ end }}
</div>
{{ end }}


{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}

{{/* Posts list section */}}

<h2>Posts</h2>
{{ range site.RegularPages }}
{{ if in .File.Path "posts" }}
<div class="post-line">
    <p class="post-date monospace">{{ .Date.Format "2 Jan 2006" }} </p>
    <p class="post-title"> <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong></p>
</div>
{{ end }}
{{ end }}

{{ end }}