@font-face {
  font-family: 'Bookerly';
  src: url('/fonts/Bookerly/Bookerly-Regular.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bookerly';
  src: url('/fonts/Bookerly/Bookerly-RegularItalic.woff') format('woff'); 
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bookerly';
  src: url('/fonts/Bookerly/Bookerly-Bold.woff') format('woff'); 
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Bookerly';
  src: url('/fonts/Bookerly/Bookerly-BoldItalic.woff') format('woff'); 
  font-weight: bold;
  font-style: italic;
}

body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}

article[autonumbering] h2:before {counter-increment: h2; content: counter(h2) ". "}
article[autonumbering] h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
article[autonumbering] h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}

article[autonumbering] .toc__menu ul { counter-reset: item }
article[autonumbering] .toc__menu li a:before { content: counters(item, ".") ". "; counter-increment: item }

body {
  font-family: "Bookerly";
  color: #222;
  line-height: 1.5;
  margin: 1rem;
  margin: auto;
  max-width: 768px;
}

img {
  max-width: 768px;
}

header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #222;
  padding-bottom: 2rem;
}

footer {
  display: none;
  width: 100%;
  border-top: 1px solid #222;
  margin-top: auto;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

p {
  margin: 0;
}

.toc {
  margin-top: 1rem;
  margin-bottom: 3rem;
}


/* HEADER TITLE AND IMAGE */
.title {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.title img {
  max-width: 100px; /* Adjust the maximum width as needed */
  max-height: 100px; /* Adjust the maximum height as needed */
  width: auto;
  height: auto;
  margin-right: 30px;
}

.title h1 {
  margin-bottom: 0;
  margin-top: 0;
}

/* HOME PAGE */

.post {
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  align-items: baseline;
}

.post-date {
  font-family: monospace;
  width: 110px;
  margin-right: 10px;
  text-align: right;
}

.post-title {
  margin: 0;
}

.about {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
